#=========================================================================
# Post-route optimization to fix small timing/DRV violations
#=========================================================================

name: cadence-innovus-postroute-opt

#-------------------------------------------------------------------------
# Inputs and Outputs
#-------------------------------------------------------------------------

inputs:
  - innovus-foundation-flow
  - adk
  - design.checkpoint

outputs:
  - design.checkpoint

#-------------------------------------------------------------------------
# Commands
#-------------------------------------------------------------------------

commands:
  - source START.tcl
